private_notes.md
settings.json
#tests/*/test*.py
#tests/*/*.json
tests/*/.coverage


# https://raw.githubusercontent.com/github/gitignore/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
tests/example_all_types/__pycache__/*
